.firstRoomBg {
    background-image: url("../images/backgrounds/FirstRoomBg.png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 70vh;
}

#solarSystemRoomBg {
    background-image: url("../images/backgrounds/solarSystemRoomBg.png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 60vh;
}


#heading {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
}

button {
    background: none;
    border: none;
}

#rightLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    margin-left: 9vw;
    margin-right: 5vw;
}

#logoEscapeRoom {
    margin-left: 5vw;
    margin-right: 10vw;
    width: 10vw;
    height: auto;
    align-self: center;
}

#inventoryBar {
    align-self: flex-end;
}

#progressBar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 4vh;
    width: 50vw;
}

#barFill {
    position: absolute;
    height: 4vh;
    border-radius: 10px;
    background: #F50623;
    transition: width 0.3s ease-in-out;
}

#rocketDiv {
    align-self: center;
}

#rocketPoster {
    width: 150px;
    height: auto;
}

#rocketDecoration {
    width: 100px;
    height: 100px;
}

#sunDecoration {
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -10px;
}

#burgerEscapeRoom {
    width: 80px;
    height: 80px;
    align-self: center;
}

#timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    color: #fff;
    width: 70px;
    height: 30px;
}

#escapeRoom {
    justify-content: center;
}

#solarSystemPuzzle {
    width: 400px;
}

#screenPassword {
    width: 25vw;
    height: auto;
}

#monitorChallenges {
    border: 2px solid black;
}

#warningMonitor {
    width: 200px;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
}

#monitorLeft {
    width: 150px;
    height: auto;
}

#monitorRight {
    width: 150px;
    height: auto;
}

.modal-dialog-centered .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#solarSystemPuzzleBg {
    background-image: url("../images/interactions/room1/Solar System Puzzle/solarSystemPuzzleBg.png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#btnSubmitSolarSystemPuzzle {
    background-color: orange;
    height: 3vh;
    color: white;
}

#lockerDiv {
    margin-right: 5vw;
}

#doorShip {
    margin-right: 10vw;
}

.planetSize {
    width: 5vw;
    height: auto;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

#doorShipEdit {
    width: 250px;
    height: auto;
}

#lockerEdit {
    width: 150px;
    height: auto;
}

#solarSystemPuzzleBg div {
    margin-right: 20px;
}

.droppable {
    border: 2px dashed #aaa;
    padding: 10px;
    width: 120px;
    height: 120px;
}

.droppable img {
    width: 100%;
    height: 100%;
}

#screenPasswordSubmit {
    background-color: orangered;
    width: 5vw;
    height: auto;
    align-self: center;
}

#arrowAndPuzzleDiv {
    width: 85%;
    margin-left: 6%;
    margin-top: 6%;
}

#topMonitors {
    margin-bottom: 5vh;
}

#input4DigitCode {
    border-radius: 5px;
    margin-bottom: 1vh;
}